.fc-als5n26 {
    position: absolute;
    top     : -20px;
    right   : 60px;
}

.fc-e8knajd {
    position : relative;
    z-index  : 2;
    transform: scale(1.1);
}

@media (min-width: 659px) {
    .fc-e8knajd {
        transform: none;
    }
}

@media (min-width: 961px) {
    .fc-e8knajd {
        position: absolute;
        bottom  : 0;
    }
}

.fc-hozdm6p {
    position: absolute;
    right   : 0;
    bottom  : 0px;
    left    : 0;
    height  : 450px;
}

@media (min-width: 961px) {
    .fc-hozdm6p {
        display: none;
    }
}

.fc-7z17rgw {
    position: absolute;
    right   : -25px;
    bottom  : 30px;
    z-index : 9;
}

.fc-juj192x {
    height: 400px;
}

@media (min-width: 659px) {
    .fc-juj192x {
        height: 250px;
    }
}

@media (min-width: 961px) {
    .fc-juj192x {
        height: 80px;
    }
}

.fc-buxmdkr {
    position: absolute;
    right   : -100px;
    bottom  : -100px;
    width   : 400px;
}

@media (min-width: 659px) {
    .fc-buxmdkr {
        width: 450px;
    }
}

@media (min-width: 961px) {
    .fc-buxmdkr {
        width: 660px;
    }
}